<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Блог сайта</h1>
    <div th:each="el : ${post}" class="alert alert-info  mt-2">
        <h3 th:text="${el.title}"/>
        <p th:text="${el.full_text}"/>
        <p><b>Просмотры: </b><span th:text="${el.views}"></span></p>
        <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Редактирование</a><br><br>
        <form th:action="'/blog/' + ${el.id}+ '/remove'" method="post">
            <button type="submit" class="btn btn-warning">Удалить</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>